$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

body {
  padding: 0 0 90px 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

#wrapper {
  min-height: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0 0 0;
  position:absolute;
  bottom:0;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  color: #777;
  background-color: #f8f8f8;
}

.header {
  background-color: #f2f2f2;
  box-shadow: 2px 2px 2px #eee;
  .main-nav {
    h1 {
      a {
        display: block;
        width: 280px;
        height: 72px;
        background-image: url("/images/logo.svg");
        background-size: 100% 100%;
        text-indent: -9999px;
        overflow: hidden;
        margin: 30px auto;
      }
    }
  }
}

.ddd-list-item {
  cursor: pointer;
}

main {
  padding-bottom: 70px;
  display: block;

  h2 {
    font-weight: 300;
  }

  .form-data {
    margin: 100px 0;
    text-align: center;

    .calling-from, .calling-to, .calling-time {
      input {
        border: 0;
        font-size: 2em;
        width: 72px;
        background-color: #f0f0f0;
        text-align: center;
        padding: 4px;
        margin: 0 3px;
        border-radius: 6px;
        box-shadow: 2px 2px 2px #ccc;
        outline: none;
      }

      &:before {
        content: attr(title);
        position: absolute;
        top: -18px;
        text-align: center;
        width: 70px;
        font-size: 0.9em;
      }
    }

    i {
      font-size: 1.6em;
    }
  }

  .table-result {
    th, td {
      text-align: center;;
    }

    td {
      font-size: 1.4em;
      font-weight: 300;
    }
  }
}
