<div class="row">
  <div class="col-md-12">
    <div ng-show="errorMessage" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{errorMessage}}
    </div>
  </div>
  <div class="col-md-12 text-center">
    <h2>Compare os nossos planos</h2>
    <p>Informe o DDD de origem e destino mais o tempo para saber o custo da ligação em cada plano.</p>
  </div>
  <div class="col-md-12 form-data">
    <span class="calling-from" title="origem">
      <input type="text" placeholder="DDD" tabindex="0" maxlength="3" ng-click="openModal('from')" ng-model="formData.from" only-digits>
    </span>
    <i class="glyphicon glyphicon-plus-sign"></i>
    <span class="calling-to" title="destino">
      <input type="text" placeholder="DDD" tabindex="1" maxlength="3" ng-disabled="!formData.from" ng-click="openModal('to')" ng-model="formData.to" only-digits>
    </span>
    <i class="glyphicon glyphicon-plus-sign"></i>
    <span class="calling-time" title="minutos">
      <input type="text" placeholder="MM" tabindex="2" maxlength="4" ng-model="formData.minutes" ng-disabled="!formData.from && !formData.to" only-digits>
    </span>
  </div>
  <div class="col-md-12" ng-show="formData.from && formData.to && formData.minutes">
    <table class="table table-hover table-striped table-result">
      <thead>
        <tr>
          <th ng-repeat="plan in result">{{plan.plan}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td ng-repeat="plan in result">
              {{plan.price | currency}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ng-include="modal.html"></div>
