<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel($event)">×</button>
  <h3 class="modal-title">Escolha o DDD</h3>
</div>
<div class="modal-body">
  <div class="list-group">
      <a ng-repeat="item in dddDetails" class="list-group-item ddd-list-item" ng-click="itemSelected(item.ddd)">
        <strong>({{item.ddd}})</strong> - {{item.city}}
      </a>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel($event)">Fechar</button>
</div>
